requests
gunicorn
django
psycopg2
-e git://github.com/lukesneeringer/django-pgfields.git#egg=django-pgfields
django-jinja
django-countries
awscli
boto
ipython
django-tables2
django-date-extensions
py-moneyed
django-money
pycountry
openpyxl
PyPDF2
#pdfsplit
django-auditlog
django-datetime-widget
