<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
      {% block head_content %}

      {% endblock %}
      
    </head>
    <body>
{% block message_area %}
<ul class="messages">
    {% for message in get_messages(request) %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

    
</ul>

{% endblock %}


      {% block page_content %}
      {% endblock %}
    </body>
</html>
