<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css"/>
	  <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
	  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	  
      {% block head_content %}

      {% endblock %}
      <style>
		body {
		  font-size: 28px;
		}

	  </style>
    </head>
    <body>
{% block message_area %}
<ul class="messages">
    {% for message in get_messages(request) %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

    
</ul>

{% endblock %}


      {% block page_content %}
      {% endblock %}
    </body>
</html>
