{% extends "base.jinja" %}

{% block head_content %}
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/static/bower_components/handsontable/dist/handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="/static/bower_components/handsontable/dist/handsontable.full.css">
{% endblock %}

{% block page_content %}

<h2>Step 2: Review data and copy into database</h2>

<p>We have extracted the data from page {{edata_obj.metadata['source_pagenum']}} of the document "<i>{{edata_obj.document.description}}</i>"</b>

<p>Please copy appropriate information from here into the table at the bottom. When you have finished, click the button at the bottom to upload it into the Openoil database.</p>

<p>You may also wish to <a href="{{edata_obj.document.source_url}}" target="_blank">consult the original document</a></p>

<h3>Data Extracted from PDF</h3>
<div id="extracted_data"></div>

<h3>Add the correct data here</h3>
<div id="output"></div>
<input type="submit" value="Upload Data" class="submit_sheet"/>
<script>

// extracted data
var edata = {{ edata_json | safe }};

var data = {{ tabledata|safe }};

var autocomplete_companies = {{ autocomplete_companies | safe }};
var autocomplete_projects = {{ autocomplete_projects | safe }};
var autocomplete_otherfields = {{ autocomplete_otherfields | safe }};


var render_firstrow = function(instance,td,row,col,prop,value,cellProperties){
    Handsontable.renderers.TextRenderer.apply(this,arguments); // ??? - cargo-culted from the docs
    td.style.fontWeight = 'bold';
    td.style.background = '#bbbbbb';
}

var ed_hot = new Handsontable(document.getElementById('extracted_data'), {
    data: edata['data'],
    minSpareRows: 1,
    rowHeaders: true,
    colHeaders: true});

var hot = new Handsontable(document.getElementById('output'), {
  data: data,
  minSpareRows: 10,
  rowHeaders: true,
  colHeaders: true,
    contextMenu: true,
    cells: function(row, col, prop){
	var cellProperties = {};
	if(row==0){
	    cellProperties.renderer = render_firstrow;
	    cellProperties.readOnly = true;
	}
	else if(col==0){
	    cellProperties.type = 'autocomplete';
	    cellProperties.source = autocomplete_projects;
	    cellProperties.strict = false;
	}
	else if(col==1){
	    cellProperties.type = 'autocomplete';
	    cellProperties.source = autocomplete_companies;
	    cellProperties.strict = false;
	}
	else{
	    header = data[0][col].toLowerCase();
	    if(autocomplete_otherfields[header]){
		cellProperties.type = 'autocomplete';
		cellProperties.source = autocomplete_otherfields[header];
		cellProperties.strict = false;

	    }
	    numeric_fields = ['level',];
	    if(numeric_fields.indexOf(header) > -1){
		console.log('found a numeric field');
		cellProperties.type = 'numeric';
	    }
	    
	}

	return cellProperties
    }
	    
});


var save_contents = function(){
    console.log('save_contents');
    $.ajax({
	'url': '/data/add/json/',
	'type': 'POST',
	'data': {
	    'metadata': JSON.stringify({'type': 'production'}),
	    'tabledata': JSON.stringify(hot.getData()),
	    'csrfmiddlewaretoken': '{{csrf_token}}',
	},
	'success': function(json){
	    alert('the data has been successfully added to the DB');},
    });
    data = hot.getData();
}
$('.submit_sheet').click(save_contents);


</script>


{% endblock %}
